<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="solid" size="small" *ngIf="trip.status == 'waiting'" (click)="cancelTrip()">
        Cancelar
      </ion-button>
      <ion-button fill="solid" color="danger" href="tel:{{settings.sos}}" *ngIf="trip.status == 'going'">{{'SOS' |
        translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height:100%"></div>
  <ion-card>
    <div style="text-align:right; color: #222" *ngIf="trip.status != 'going'">
      <span style="background:#ffff00">Código do Cliente: {{ (trip)?.otp }}</span>
    </div>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{ (driver)?.photoURL }}" onerror="this.src='./assets/img/default.png'" />
      </ion-avatar>
      <ion-label>
        <ion-text color="dark">
          <h2>{{ (driver)?.name }} &nbsp; {{(driver)?.rating}} <ion-icon name="star" color="yellow"></ion-icon>
          </h2>
        </ion-text>
        <ion-text color = "dark">
          <p>{{ (driver)?.plate }} &middot; {{ (driver)?.brand }}</p>
        </ion-text>
      </ion-label>
      <ion-button color="dark" *ngIf="trip.status != 'going'" slot="end" href="tel: {{ (driver)?.phoneNumber }} ">
        <ion-icon name="call"></ion-icon>&nbsp;Chamar
      </ion-button>
    </ion-item>
    <ion-row>
      <ion-col>
        <p>Distância</p>
        <h5>{{distanceText}}</h5>
      </ion-col>
      <ion-col>
        <p>Tempo</p>
        <h5>{{durationText}}</h5>
      </ion-col>
      <ion-col>
        <p>Tipo Pgto</p>
        <h5>Cartão</h5>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>