<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h3>{{trip.createdAt | date: 'MMM dd, yyyy hh:mm a'}}</h3>
      <p>#{{trip.createdAt}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" *ngIf="trip.createdAt != null">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{driver.photoURL}}" />
      </ion-avatar>
      <ion-label>
        <p *ngIf="trip.rating">Avaliação: {{trip.rating}}</p>
        <h3>{{driver.name}}</h3>
      </ion-label>
      <ion-badge slot="end" color="dark">{{trip.status}}</ion-badge>
    </ion-item>
    <ion-item text-wrap>
      <ion-icon style="margin-right:18px" name="pin" color="success" slot="start"></ion-icon>
      <ion-label>
        <p>{{ trip.pickedUpAt | date: 'shortTime'}}</p>
        <ion-text>
          <h3>{{trip.origin.vicinity}}</h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>