ion-content{
    --ion-background-color:#111D12;
}

.vehicle-img{
    --ion-icon-color: #ffffff
}
.img{
    --ion-icon-color: #ffffff
}
ion-select-option {
    color: red;
  }

ion-img{
    color: red;
}
