<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="user != null && user != undefined">
    <form [formGroup]="ionicForm" (ngSubmit)="save(ionicForm.value)" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Nome</ion-label>
              <ion-input type="text" formControlName="nome" placeholder="Nome" required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nome.errors?.required">
              Campo Obrigatorio.
            </span>
          </ion-col>

          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Sobrenome</ion-label>
              <ion-input type="text" formControlName="sobrenome" placeholder="Sobrenome" required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.sobrenome.errors?.required">
              Campo Obrigatorio.
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="col-top-left">
            <ion-item>
              <ion-label position="floating">CPF</ion-label>
              <ion-input type="text" formControlName="cpf" placeholder="CPF" required></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cpf.errors?.required">
              Campo Obrigatorio.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cpf.errors?.pattern">
              Somente Números.
            </span>
          </ion-col>

          <ion-col size=6 class="col-top-right">
            <ion-item lines="full">
              <ion-label position="floating">Nascimento</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dtNasc" [value]="defaultDate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size=4 class="col-top-left">
            <ion-item>
              <ion-label position="floating">DDD</ion-label>
              <ion-input type="text" formControlName="ddd"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.ddd.errors?.pattern">
              Somente Numero.
            </span>
          </ion-col>
          <ion-col size=8 class="col-top-left">
            <ion-item>
              <ion-label position="floating">Telefone</ion-label>
              <ion-input type="text" formControlName="fone"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fone.errors?.pattern">
              Somente Numero.
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="col-top-left">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
              Verifique Formato do email.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
              Campo Obrigatório.
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Endereço</ion-label>
              <ion-input type="text" formControlName="logradouro"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.logradouro.errors?.required">
              Campo Obrigatorio
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item size="4">
              <ion-label position="floating">Número</ion-label>
              <ion-input type="text" formControlName="numero"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item size="8">
              <ion-label position="floating">Bairro</ion-label>
              <ion-input type="text" formControlName="bairro"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-item>
              <ion-label position="floating">CEP</ion-label>
              <ion-input type="text" formControlName="cep"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cep.errors?.required">
              Campo Obrigatorio
            </span>
          </ion-col>

          <ion-col size="3">
            <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-input type="text" formControlName="estado"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.estado.errors?.required">
              Campo Obrigatorio
            </span>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-label position="floating">Cidade</ion-label>
              <ion-input type="text" formControlName="cidade"></ion-input>
            </ion-item>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cidade.errors?.required">
              Campo Obrigatorio
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>