<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dados Pessoais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="user != null && user != undefined">
    <div style="text-align:center">
      <img src="{{ user.photoURL }}" onerror="this.src='./assets/img/default.png'"
        style="width:80px;height:80px;border-radius:100px" (click)="chooseFile()">
      <form ngNoForm>
        <input id="avatar" name="file" type="file" (change)="upload()">
      </form>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked" color="primary">Nome Completo</ion-label>
          <ion-input type="text" [(ngModel)]="user.name"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-label position="stacked" color="primary">DDD</ion-label>
          <ion-input type="text" [(ngModel)]="user.ddd"></ion-input>
        </ion-col>

        <ion-col size="8">
          <ion-label position="stacked" color="primary">Telefone</ion-label>
          <ion-input type="text" [(ngModel)]="user.phoneNumber"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-label position="stacked" color="primary">Nasc.</ion-label>
          <ion-input type="text" [(ngModel)]="user.nascimento"></ion-input>
        </ion-col>

        <ion-col size="9">
          <ion-label position="stacked" color="primary">Email</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" disabled></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked" color="primary">Endereço</ion-label>
          <ion-input type="text" [(ngModel)]="user.endereco"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-label position="stacked" color="primary">Número</ion-label>
          <ion-input type="text" [(ngModel)]="user.numero"></ion-input>
        </ion-col>

        <ion-col size="8">
          <ion-label position="stacked" color="primary">Bairro</ion-label>
          <ion-input type="text" [(ngModel)]="user.bairro"></ion-input>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="3">
          <ion-label position="stacked" color="primary">CEP</ion-label>
          <ion-input type="text" [(ngModel)]="user.cep"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-label position="stacked" color="primary">Cidade</ion-label>
          <ion-input type="text" [(ngModel)]="user.cidade"></ion-input>
        </ion-col>

        <ion-col size="3">
          <ion-label position="stacked" color="primary">Estado</ion-label>
          <ion-input type="text" [(ngModel)]="user.estado"></ion-input>
        </ion-col>
      </ion-row>

    </ion-grid>
    <div class="ion-padding">
      <ion-button color="dark" expand="block" (click)="save()">{{'SAVE' | translate}}</ion-button>
      &nbsp;
      &nbsp;
      <ion-button (click)="logout()" expand="block" fill="clear" color="dark">{{'LOGOUT' | translate}}</ion-button>
    </div>
  </div>
</ion-content>