<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     JetPort
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="locationinput-holder">
    <ion-label position="stacked">Local do Atendimento</ion-label>
    <input class="locationinput" (click)="chooseOrigin()" placeholder="local do atendimento?" type="text"
      value="{{origin ? origin.vicinity : '' }}">
    <!--put class="locationinput" (click)="chooseDestination()" placeholder="Qual o local do atendimento:" type="text"
      value="{{ destination ? destination.vicinity : '' }}"
    <p class="distanceText" [hidden]="!destination">
      <span *ngIf="distanceText!=''">{{ distanceText }}</span>
      <span *ngIf="durationText!=''">&nbsp; {{durationText}}</span>
    </p>-->
  </div>

  <div id="{{ mapId }}" [ngStyle]="{height: '100%'}"></div>
</ion-content>
<ion-footer>
  <ion-toolbar style="padding: 8px;">
    <ion-button expand="block" color="#ffcc00" [hidden]="origin" (click)="chooseOrigin()">
     Determine o Local de Atendimento</ion-button>
    <ion-button expand="block" color="#ffcc00" [hidden]="!origin" (click)="book()">
      {{ locateDriver == false ? 'Acionar Técnico':'Localizando Técnico'}} <ion-spinner name="dots" color="light"
        [hidden]="!locateDriver"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>