<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked" color="primary">Nome Completo</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-label position="stacked" color="primary">DDD</ion-label>
        <ion-input type="text" [(ngModel)]="ddd"></ion-input>
      </ion-col>

      <ion-col size="8">
        <ion-label position="stacked" color="primary">Telefone</ion-label>
        <ion-input type="text" [(ngModel)]="phoneNumber"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" ></ion-input>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-label position="stacked">Senha (MIN 6 Digitos)</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div style="padding:0px 16px">
    <ion-button color="dark" expand="block" (click)="signup()">
      Cadastra
    </ion-button>
  </div>
  <div class="ion-padding">
    <p class="termsText">Para se cadastrar você deve aceitar nossos <span class="link" (click)="openTerms()">termos &
        condições</span> & <span class="link" (click)="openPrivacy()">política de privacidade</span></p>
  </div>
</ion-content>