.header-md:after{
    background-image: none !important;
}

.link{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.login-header img{
    height: 100px;
    width: auto;
}

ion-input{
    --background: rgb(138, 154, 245);
    }